.right-buttons {
  position:relative;
  right: -7%;
}
.set-back {
  z-index: -1;
}
.my-local-center {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  display: inline-block;
  line-height: 0.42 !important;
  z-index: -1;
}

.titanic {
  float: none;
}

.shadow {
  text-shadow: 2px 2px #000000
}
