.right-buttons {
  width:100px;
  position:relative;
  right: -7%;
}
.set-back {
  z-index: -1;
}
.my-local-center {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  display: inline-block;
  line-height: 0.42 !important;
  z-index: -1;
}
