.right-buttons {
  position:relative;
  right: -7%;
}
.set-back {
  z-index: -1;
}

.header {
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  display: inline-block;
  line-height: 0.42 !important;
  z-index: -1;

  text-shadow: 2px 2px #000000;
}

.special-header {
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  display: inline-block;


  text-shadow: 2px 2px #000000;
}

.titanic {
  float: none;
}

.backgroundColor {
  background: #5bc0de; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5bc0de, #367385); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5bc0de, #367385); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5bc0de, #367385); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5bc0de , #367385); /* Standard syntax */
}

.this-center {
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
