<div class="container">
  <br>
  <div class="row">
    <div class="col-12">
      <h2 class="my-local-center">PackingList</h2>
      <button style="display: inline-block;" type="button" class="btn btn-outline-info float-left" (click)="back()">Back</button>
      <button style="display: inline-block;" type="button" class="btn btn-outline-info float-right" (click)="addColli()">Add colli</button>
    </div>
  </div>
  <hr>

  <div class="col-12">
    <div class="row">
        <dt class="col-md-2">
          Packing Title:
        </dt>
        <dd class="col-md-4">
          <input type="text" placeholder="packingName" value="{{packing?.packingName}}"disabled>
        </dd>
        <dt class="col-md-2">
          Freight Type:
        </dt>
        <dd class="col-md-4">
          <input type="text" placeholder="freightType" value="{{packing?.freightType}}"disabled>
        </dd>
        <dt class="col-md-2">
          Delivery Address:
        </dt>
        <dd class="col-md-4">
          <input type="text" placeholder="deliveryAddress" value="{{packing?.deliveryAddress}}"disabled>
        </dd>
        <dt class="col-md-2">
          Delivery Date:
        </dt>
        <dd class="col-md-4">
          <input type="text" placeholder="deliveryDate" value="{{packing?.deliveryDate}}"disabled>
        </dd>
    </div>
  </div>

  <div class="col-md-10 offset-1">
    <div class="list-group">
      <a class="list-group-item">
        <div class="row">
          <h4 class="col-md-5">ItemName</h4>
          <h4 class="col-md-5">Quantity = 4</h4>
          <label class="btn btn-outline-success buttons-right">
            <input type="checkbox" autocomplete="off"> done
          </label>
        </div>
      </a>
      <a class="list-group-item">
        <div class="row">
          <h4 class="col-md-5">ItemName</h4>
          <h4 class="col-md-5">Quantity = 5</h4>
          <label class="btn btn-outline-success buttons-right">
            <input type="checkbox" autocomplete="off"> done
          </label>
        </div>
      </a>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar bg-success" style="width:50%">50</div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h2 class="my-local-center">ColliList</h2>
      <br>
    </div>
  </div>
  <hr>
  <div class="col-md-10 offset-1">
    <div *ngFor="let colli of packing?.colliLists" class="list-group">
      <a (click)="colliClick(colli)" class="list-group-item list-group-item-action">
        <div class="row">
          <h4 class="col-md-7">Colli Id: {{colli.id}}</h4>
          <div class="col-4">
          </div>
          <button class="btn-outline-warning" (click)="editColli(colli)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>
      </a>
      <br>
    </div>
  </div>
</div>
