<div class="container">
  <nav class="navbar navbar-expand-sm backgroundColor fixed-top">
    <h2 class="header">PackingList</h2>
    <button style="display: inline-block;" type="button" class="btn btn-secondary" (click)="back()">Back</button>
  </nav>
  <br><br><br>
  <button style="display: inline-block;" type="button" class="btn btn-outline-info float-right" (click)="addColli()">Add colli</button>
  <br><br>
  <div class="col-12">
    <div class="row">
      <dt class="col-md-2">
        Packing Title:
      </dt>
      <dd class="col-md-4">
        <input type="text" placeholder="packingName" value="{{packing?.packingName}}" disabled>
      </dd>
      <dt class="col-md-2">
        Freight Type:
      </dt>
      <dd class="col-md-4">
        <input type="text" placeholder="freightType" value="{{packing?.freightType}}" disabled>
      </dd>
      <dt class="col-md-2">
        Delivery Address:
      </dt>
      <dd class="col-md-4">
        <input type="text" placeholder="deliveryAddress" value="{{packing?.deliveryAddress}}" disabled>
      </dd>
      <dt class="col-md-2">
        Delivery Date:
      </dt>
      <dd class="col-md-4">
        <input type="text" placeholder="deliveryDate" value="{{packing?.deliveryDate}}" disabled>
      </dd>
    </div>
  </div>
  <hr>
  <div class="col-12">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-3"><strong>Packing status:</strong></div>
          <div class="col-8">
            <ngb-progressbar showValue="false" type="success" [value]="progress" [max]="100"></ngb-progressbar>
          </div>
          <div class="col-12">
            <hr>
          </div>
          <div class="col-12">
            <h6 class="col-12"><strong>Units to pack: </strong></h6>
            <div *ngFor="let packItem of packing?.packItems" class="list-group">
              <a class="list-group-item list-group-item-action" style="margin-bottom: 5px">
                <div class="row">
                  <h6 class="col-md-4">{{packItem?.item.itemName}}</h6>
                  <h6 class="col-md-3">Required: {{packItem?.count}}</h6>
                  <h6 class="col-md-3">Packed: {{packItem?.packed}}</h6>
                  <button class="btn btn-outline-success buttons-right btn-sm" disabled>
                    <input type="checkbox" autocomplete="off" disabled>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <h5 class="col-12"><strong>Colli list</strong></h5>
                <hr>
              </div>
              <div class="col-md-12">
                <div class="row">
                <h6 class="col-6"><strong></strong></h6>
                  <h6 class="col-6"><strong>Amount: {{packing?.colliLists.length}} </strong></h6>
                </div>
                <div *ngFor="let colli of packing?.colliLists" class="list-group">
                  <a (click)="colliClick(colli)" class="list-group-item list-group-item-action"
                     style="margin-bottom: 5px">
                    <div class="row">
                      <h6 class="col-md-6">Colli Id: {{colli.id}}</h6>
                      <div class="col-4">
                      </div>
                      <button class="btn btn-outline-warning btn-sm" (click)="editColli(colli)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
