<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-info" (click)="back()">Back</button>
      <h2 class="my-local-center">Manage Items</h2>
    </div>
  </div>
  <hr>
  <div *ngFor="let item of items" class="list-group">
    <a (click)="clickPacking(packing)" class="list-group-item list-group-item-action">
      <div class="row">
        <h5 class="col-md-3">Item Name: {{item?.itemName}}</h5>
        <h5 class="col-md-4">Item Dimension: {{item?.dimension}}</h5>
        <h5 class="col-md-3">Item Weight: {{item?.weight}}</h5>
        <button class="btn-outline-warning" (click)="edit(item)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
      </div>
    </a>
  </div>
</div>
