<div class="container">
  <br>
  <div class="row col-12">
    <button class="btn btn-outline-info" (click)="back()">Back</button>
    <h2 class="my-local-center">
      Add project
    </h2>
  </div>
  <hr>
  <br>
  <div class="col-8 offset-3">
    <form (ngSubmit)="submit()" [formGroup]="projectGroup" novalidate>
      <dl class="form-row">
        <dt class="col-md-3">
          Project name:
        </dt>
        <dd class="col-md-7">
          <input class="form-control" id="1" formControlName="projectName" placeholder="Project name">
        </dd>
        <dt class="col-md-3">
          Customer name:
        </dt>
        <dd class="col-md-7">
          <input class="form-control" id="2" formControlName="customerName" placeholder="Customer name">
        </dd>
        <dt class="col-md-3">
          Manager name:
        </dt>
        <dd class="col-md-7">
          <input class="form-control" id="3" formControlName="creatorName" placeholder="Manager name">
        </dd>
        <div class="row col-md-7 offset-3 justify-content-between">
          <button type="submit" class="btn btn-outline-success">Save</button>
          <button class="btn btn-outline-danger" (click)="back()">Cancel</button>
        </div>
     </dl>
    </form>
  </div>
</div>
