<head><script src="https://use.fontawesome.com/766a240126.js"></script></head>
<div class="container">
  <br>
  <div class="row">
    <button class="btn btn-outline-info" (click)="backbtn()">Back</button>
    <h2 class="">
      Add project
    </h2>
  </div>
  <hr>
  <br>
  <div class="col-8 offset-3">
    <form (ngSubmit)="save()" novalidate>
      <dl class="form-row">
        <dt class="col-md-3">
          Project name:
        </dt>
        <dd class="col-md-7">
          <input type="text" class="form-control" placeholder="Project name">
        </dd>
        <dt class="col-md-3">
          Customer name:
        </dt>
        <dd class="col-md-7">
          <input type="text" class="form-control" placeholder="Customer name">
        </dd>
        <dt class="col-md-3">
          Manager name:
        </dt>
        <dd class="col-md-7">
          <input type="text" class="form-control" placeholder="Manager name">
        </dd>
        <dt class="col-md-3">
          Delivery address:
        </dt>
        <dd class="col-md-7">
          <input type="text" class="form-control" placeholder="Country, City, Zip, Street, Nr">
        </dd>
      </dl>
      <div class="row col-md-7 offset-3 justify-content-between">
        <button class="btn btn-outline-danger" (click)="backbtn()">Cancel</button>
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
    </form>
  </div>
</div>
