<div class="container">
  <nav class="navbar navbar-expand-sm backgroundColor fixed-top">
    <h2 class="header">Projects</h2>
    <button style="display: inline-block;" type="button" class="btn btn-danger ml-md-auto" (click)="logout()">
      Log Out
    </button>
  </nav>
  <br><br><br>
  <div class="col-md-10 offset-1">
    <div class="row">
      <div class="col-md-5" style="padding-left: 30px">
        <h5><strong>Project name</strong></h5>
      </div>
      <div class="col-md-5">
        <h5><strong>Manager name</strong></h5>
      </div>
      <div class="col-md-2">
        <button style="margin-right:5px; display: inline-block;" type="button"
                class="btn btn-outline-primary float-right btn-sm"
                (click)="addProject()"><i class="fa fa-plus" aria-hidden="true"></i>
          Add project
        </button>
      </div>

    </div>
    <hr>
  </div>
  <div class="col-md-10 offset-1">

    <div *ngFor="let project of projects" class="list-group">
      <a (click)="clickProject(project)" class="list-group-item list-group-item-action">
        <div class="row">
          <h6 class="col-md-5">{{project.projectName}}</h6>
          <h6 class="col-md-5">{{project.creatorName}}</h6>
          <button class="btn btn-outline-warning this-button btn-sm" (click)="edit(project)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>
      </a>
      <br>
    </div>
  </div>
</div>


