<div class="container">
  <nav class="navbar navbar-expand-sm backgroundColor fixed-top">
    <h2 class="header">Colli Detail</h2>
    <button style="display: inline-block;" type="button" class="btn btn-secondary" (click)="back()">Back</button>
  </nav>
  <br><br><br>
  <div class="col-12">
    <dl class="form-row">
      <dt class="col-md-2">
        Project Name:
      </dt>
      <dd class="col-md-4">
        <input class="form-control" placeholder="{{colli?.projectName}}" disabled>
      </dd>
      <dt class="col-md-2">
        Dimensions:
      </dt>
      <dd class="col-md-4">
        <input class="form-control" type="text" placeholder="{{colli?.dimensions}}" disabled>
      </dd>
      <dt class="col-md-2">
        Net Weight:
      </dt>
      <dd class="col-md-4">
        <input class="form-control" type="text" placeholder="{{colli?.netWeight}}" disabled>
      </dd>
      <dt class="col-md-2">
        Total weight:
      </dt>
      <dd class="col-md-4">
        <input class="form-control" placeholder="{{colli?.totalWeight}}" disabled>
      </dd>
      <dt class="col-md-2">
        Workshop Worker:
      </dt>
      <dd class="col-md-4">
        <input class="form-control" type="text" placeholder="{{colli?.worker}}" disabled>
      </dd>
      <dt class="col-md-2">
        Freight Type:
      </dt>
      <dd class="col-md-4">
        <input class="form-control" type="text" placeholder="{{colli?.freightType}}" disabled>
      </dd>
    </dl>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <h4>Currently Packed Items</h4>
      <hr>
      <div *ngFor="let colliItem of colli?.colliItems">
        <a style="margin-bottom: 5px" class="list-group-item list-group-item-action">
        <div class="row">
          <h6 class="col-md-8"><strong>Item type:</strong> {{colliItem?.item.itemName}}</h6>
          <h6 class="col-md-4"><strong>Amount:</strong> {{colliItem?.count}}</h6>
        </div>
        </a>
      </div>
    </div>
    </div>
</div>
