<div class="backgroundColor">
  <img src="./assets/1_Primary_logo_on_transparent_350x65.png">
  <h1 class="special-header">Login</h1>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <div class="offset-4 col-md-4">
    <div class="panel-body">
      <form (ngSubmit)="login()" [formGroup]="loginGroup" class="login-form" accept-charset="UTF-8" role="form">
        <fieldset>
          <div class="form-group">
            <label for="workEmail"><strong>Email:</strong></label>
            <input class="form-control" formControlName="workEmail" placeholder="Email" id="workEmail" type="text">
          </div>
          <div class="form-group">
            <label for="password">
              <strong>
                Password:
              </strong>
            </label>
            <input class="form-control" formControlName="password" placeholder="Password" id="password" type="password">
          </div>
          <input class="btn btn-lg btn-info btn-block" type="submit" value="Login">
          <br>
          <div *ngIf="loginGroup.controls['workEmail'].invalid" class="alert-danger"> You forgot something</div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
