<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-info" (click)="backbtn()">Back</button>
      <h2 class="navbar-text">ProjectName</h2>
    </div>
  </div>
  <hr>

  <div class="col-md-10 offset-1">
    <div class="list-group">
      <a (click)="clickProject()" class="list-group-item list-group-item-action">
        <div class="row">
          <h4 class="col-md-10">Packing</h4>
        </div>
      </a>
    </div>
  </div>

</div>
