<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-info" (click)="back()">Back</button>
      <h2 class="my-local-center">{{packing?.packingName}}</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <h4 class="col-md-4">Delivery Date: </h4><p>{{packing?.deliveryDate}}</p>
      <h4 class="col-md-4">Delivery Address: </h4><p>{{packing?.deliveryAddress}}</p>
      <h4 class="col-md-4">Manager Name: </h4><p>{{packing?.creatorName}}</p>
      <h4 class="col-md-4">Freight Type: </h4><p>{{packing?.freightType}}</p>
      <h4 class="col-md-4">Item Type: </h4><p>{{packing?.itemType}}</p>
      <h4 class="col-md-4">ID: </h4><p>{{packing?.id}}</p>
  </div>
  <br>
  <div class="col-md-10 offset-1">
    <div class="list-group">
      <a class="list-group-item list-group-item-action">
        <div class="row">
          <h4 class="col-md-10">Order Item</h4>
        </div>
      </a>
    </div>
  </div>
</div>
