

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
    <button class="btn btn-outline-info" (click)="back()">Back</button>
    <h2 class="my-local-center">{{project?.projectName}}</h2>
      <button type="button" (click)="addPackingClick()" class="btn btn-outline-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i>
         New packing list</button>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-4"><h4>Project Name:</h4><p>{{project?.projectName}}</p></div>
    <div class="col-md-4"><h4>Customer Name:</h4><p>{{project?.customerName}}</p></div>
    <div class="col-md-4"><h4>Manager Name:</h4><p>{{project?.creatorName}}</p></div>
  </div>
  <br>
  <div class="col-md-12">
    <div *ngFor="let packing of packings" class="list-group">
      <a (click)="packingClick(packing)" class="list-group-item list-group-item-action">
        <div class="row">
          <h4 class="col-md-4">{{packing.packingName}}</h4>
          <div class="col-4">
            <div class="progress">
              <div class="progress-bar bg-success" style="width:100%">100%</div>
            </div>
          </div>
          <button class="btn-outline-warning" (click)="editPacking(packing)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
         </div>
      </a>
      <br>
    </div>
    <br>


</div>
</div>
