<div class="backgroundColor">
  <img src="./assets/1_Primary_logo_on_transparent_350x65.png">
  <h1 class="special-header">Access Denied</h1>
</div>
<div class="container">
  <div class="this-center">
    <br><br><br>
    <h1>
      Oops!
    </h1>
    <h3>
      Looks like your account isn't authorized to view this page.
    </h3>
    <br><br>
    <button class="btn btn-outline-primary btn-lg" (click)="toSafety()">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      Back to safety
      <i class="fa fa-hand-o-left" aria-hidden="true"></i>
    </button>
  </div>
</div>




