<div class="container offset-5">
  <br>
  <div  class="row">
    <div class="center col-md-offset-5 col-md-3">
      <div class="form-login">
        <h4>Login</h4>
        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
        <br/>
        <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
        <br/>
        <div class="wrapper">
          <a href="#" class="btn btn-outline-success btn-md">Login <i class="fa fa-sign-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <button class="btn-outline-info" (click)="kontor()">Kontor</button>
  <button class="btn-outline-info" (click)="lager()">Lager</button>
</div>
