<div class="container">
  <br>
    <h3 class="this-center">Login</h3>
  <br>
    <div class="offset-4 col-md-4">
    <div class="panel-body">
      <form accept-charset="UTF-8" role="form">
        <fieldset>
          <div class="form-group">
            <input class="form-control" placeholder="Username" name="email" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" value="">
          </div>
          <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
        </fieldset>
      </form>
    </div>
      <br>
      <button class="btn-outline-info offset-1" (click)="kontor()">Kontor</button>
      <button class="btn-outline-info offset-1" (click)="lager()">Lager</button>
      <button class="btn-outline-info offset-1" (click)="admin()">Admin</button>

    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
