<div class="container">
  <nav class="navbar navbar-expand-sm backgroundColor fixed-top">
    <h2 class="header">Edit Colli</h2>
    <button style="display: inline-block;" type="button" class="btn btn-secondary" (click)="back()">Back</button>
  </nav>
  <br><br><br>
  <button style="display: inline-block;" type="button" class="btn btn-outline-success float-right" (click)="submit()">Save</button>
  <br><br>
  <div class="col-12">
    <form (ngSubmit)="save()" novalidate>
      <dl class="form-row" [formGroup]="colliGroup">
        <dt class="col-md-2">
          Project Name:
        </dt>
        <dd class="col-md-4">
          <input class="form-control" placeholder="{{colli?.projectName}}" disabled>
        </dd>
        <dt class="col-md-2">
          Dimensions:
        </dt>
        <dd class="col-md-4">
          <input type="text" class="form-control" formControlName="dimensions" placeholder="{{colli?.dimensions}}">
        </dd>
        <dt class="col-md-2">
          Net Weight:
        </dt>
        <dd class="col-md-4">
          <input type="text" class="form-control" placeholder="{{netWeight}}" disabled>
        </dd>
        <dt class="col-md-2">
          Total weight:
        </dt>
        <dd class="col-md-4">
          <input type="text" class="form-control" formControlName="totalWeight" placeholder="{{colli?.totalWeight}}">
        </dd>
        <dt class="col-md-2">
          Workshop Worker:
        </dt>
        <dd class="col-md-4">
          <input type="text" class="form-control" placeholder="{{colli?.worker}}" disabled>
        </dd>
        <dt class="col-md-2">
          Freight Type:
        </dt>
        <dd class="col-md-4">
          <input type="text" class="form-control" placeholder="{{colli?.freightType}}" disabled>
        </dd>
      </dl>
    </form>
  </div>
  <hr>
  <div class="col-12">
    <div class="row">
      <div class="col-md-6">
        <h4 class="col-md-12">PackingList</h4>
        <hr>
        <div *ngFor="let packItem of packing?.packItems">
          <a style="margin-bottom: 5px" (click)="addItem(packItem)" class="list-group-item list-group-item-action">
            <div class="row">
              <h6 class="col-md-6"><strong>Item type: </strong>{{packItem?.item.itemName}}</h6>
              <h6 class="col-md-3"><strong>Amount: </strong>{{packItem?.count}}</h6>
              <h6 class="col-md-3"><strong>Packed: </strong>{{packItem?.packed}}</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h4>Currently Packed Items</h4>
          <hr>
          <div *ngFor="let colliItem of colli?.colliItems">
            <a style="margin-bottom: 5px" (click)="removeItemCurrent(colliItem)" class="list-group-item list-group-item-action">
              <div class="row">
                <h6 class="col-md-6">{{colliItem?.item.itemName}}</h6>
                <h6 class="col-md-4">Amount: {{colliItem?.count}}</h6>
              <button class="fa fa-trash pull-right btn btn-outline-danger btn-sm"
                      (click)="removeAllCurrent(colliItem)"></button>
              </div>
            </a>
          </div>

          <div class="row">
          <div class="col-md-12">
        <h4>New Items</h4>
            <hr>
        <div *ngFor="let colliItem of newColliItems">
          <a style="margin-bottom: 5px" (click)="removeItem(colliItem)" class="list-group-item list-group-item-action">
            <div class="row">
              <h6 class="col-md-6">{{colliItem?.item.itemName}}</h6>
              <h6 class="col-md-4">Amount: {{colliItem?.count}}</h6>
            <button class="fa fa-trash pull-right btn btn-outline-danger btn-sm" (click)="removeAll(colliItem)"></button>
            </div>
          </a>
        </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
